@media screen and (max-width: 1200px) {
    // ============================================================ service-2

    .service2 {
        flex-direction: column;
        align-items: center;
    }

    .service2__img {
        max-width: 570px;
        margin: 0 0 60px;

        img {
            width: 100%;
        }
    }
}

// ================
// ================ 992 ================
// ================
@media screen and (max-width: 992px) {

    // ============================================================ header

    .nav {
        display: none;
    }

    // ============================================================ banner

    .banner-wrap {
        height: 800px;
        padding-top: 144px;

        .banner-slogan_active {
            &::after {
                bottom: -0px;
            }
        }
    }

    .banner-slogan__h1 {
        font-size: 57px;
        line-height: 80px;

        span {
            font-size: 120px;
            line-height: 112px;
        }
    }

    // ============================================================ about

    .img-list {
        flex-direction: column;
        align-items: center;
    }

    .img-item {
        width: 60%;
        margin: 0 0 30px 0;
    }

    // ============================================================ service
    .service-item {
        flex-basis: calc(100% / 2);
    
        &:nth-child(-n + 4)::after {
            content: "";
            position: absolute;
            bottom: -44px;
            left: 0;
    
            width: 100%;
            height: 1px;
            background-color: $c-grey-4;
        }
    }

    // ============================================================ team

    .team-wrap {
        width: 100%;

        &:not(:last-child) {
            margin: 0 0 60px 0;
        }
    }

    .team-img-item {
        margin: 0 auto 30px;
    }

    // ============================================================ work

    .work-img-list__part {
        width: 100%;
    }

    .work-img-item {
        width: 50%;
        margin: 0;
    }

    // ============================================================ clients

    .clients-item {
        max-width: 100%;
    }

}

// ================
// ================ 768 ================
// ================

@media screen and (max-width: 768px) {

    // ============================================================ banner

    .banner-slogan__h1 {
        font-size: 45px;
        line-height: 64px;

        span {
            font-size: 96px;
            line-height: 100px;
        }
    }

    .banner-nav__link_active {
        &::before {
            content: "";
            width: 30px;
        }
    }

    // ============================================================ about

    .img-item {
        width: 90%;
    }

    // ============================================================ statistics

    .statistics {
        flex-basis: calc(100% / 3);
        padding: 50px 0;

        &:nth-child(3) {
            border-right: none;
        }

        span {
            &:first-child {
                margin-bottom: 35px;

                font-size: 50px;
            }

            &:last-child {
                font-size: 13px;
            }
        }
    }

    // ============================================================ feauture

    .feature__item {
        &:last-child {
            left: 51%;
        }
    }

    // ============================================================ quote

    .quote-item_active {
        flex-direction: column;
    }

    .quote-item__img {
        margin: 0 0 40px 0;
    }

    .quote-item__text {
        span:first-child {
            font-size: 19px;
            line-height: 29px;
        }
    }

    // ============================================================ logos

    .logos-list {
        flex-wrap: wrap;
    }

    .logos-item {
        width: calc(100% / 3);

        &:nth-child(-n + 3) {
            margin-bottom: 30px;
        }
    }

    // ============================================================ work

    .work-img-list__part {
        width: 100%;
    }

    .work-img-item {
        width: 100%;
        margin: 0;
    }

    .work-img-list__part-2 {
        display: flex;
        flex-direction: column;
        width: 100%;

        .work-img-item {
            width: 100%;
        }
    }

    // ============================================================ blog

    .blog-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-item {
        width: 80%;

        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 60px;
        }
    }

    // ============================================================ footer

    .footer-content {
        flex-direction: column;
    }

    .footer-mogo {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .footer-socials {
        width: 100%;
    }
}

// ================
// ================ 576 ================
// ================

@media screen and (max-width: 576px) {

    // ============================================================ banner

    .banner-wrap {
        height: 600px;
    }

    .btn {
        padding: 8px 24px;
    }

    .banner-slogan__h1 {
        font-size: 31px;
        line-height: 45px;

        span {
            font-size: 55px;
            line-height: 60px;
        }
    }

    .banner-nav {
        li {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    // ============================================================ about

    .img-item {
        width: 100%;
    }

    // ============================================================ statistics

    .statistics {
        flex-basis: 100%;
        padding: 30px 0;

        border-right: none;
        &:first-child {
            padding-top: 50px;
        }
        &:last-child {
            padding-bottom: 50px;
        }

        span {
            &:first-child {
                margin-bottom: 35px;

                font-size: 50px;
            }

            &:last-child {
                font-size: 13px;
            }
        }
    }

    // ============================================================ service

    .service-item {
        flex-basis: 100%;
    
        &:nth-child(-n + 5)::after {
            content: "";
            position: absolute;
            bottom: -44px;
            left: 0;
    
            width: 100%;
            height: 1px;
            background-color: $c-grey-4;
        }
    }

    // ============================================================ feauture

    .feature-list {
        padding-right: 0;
    }

    .feature__item {
        &:first-child {
            width: 80%;
        }

        &:last-child {
            right: 0;
            bottom: -60px;
            left: none;

            width: 40%;
        }
    }

    // ============================================================ clients

    .clients-item {
        padding: 0;
    }

    // ============================================================ blog

    .blog-item {
        width: 100%;
    }
}