// font
$f-prim: "Roboto", sans-serif;//300italic, 400
$f-second: "Montserrat", sans-serif;//400,700
$f-decor: "KaushanScript", serif;

// color
$c-prim: #95e1d3;
$c-second: #f38181;
$c-grey-1: #333333;
$c-grey-2: #999999;
$c-grey-3: #cccccc;
$c-grey-4: #e5e5e5;
$c-yellow: #fce38a;