.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #34314c;
    z-index: 1000;
    display: flex;
    transition: .6s;
}

.preloader__content {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

.preloader__first,
.preloader__second,
.preloader__third {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: 1s linear infinite;
}

.preloader__first {
    border-bottom: 3px solid $c-second;
    animation-name: first;
}

.preloader__second {
    border-right: 3px solid $c-yellow;
    animation-name: second;
}

.preloader__third {
    animation-name: third;
    border-top: 3px solid $c-prim;
}

@keyframes first {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes second {
    0% {
        transform: rotateX(35deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes third {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);    
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);    
    }
}